* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.7px;
  background-color: rgb(241, 236, 236);
  height: 100%;
}

img {
  mix-blend-mode: multiply;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
}

/* Hide scrollbar for WebKit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  display: none;
}

img {
  filter: brightness(1) contrast(1.5);
}

@media(width<=767px) {

  #productCard {
    width: 48vw;
  }

  #productCard-Container {
    margin: 40px 5px !important;
    /* background-color: red; */
  }
}

@media(width<=420px) {

  #productCard {
    height: 420px;
  }
}