* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.7px;
  background-color: rgb(239, 237, 237);
  height: 100%;
}

img {
  mix-blend-mode: multiply;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
}

/* Hide scrollbar for WebKit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  display: none;
}

img {
  filter: brightness(1) contrast(1.5);
}

.text-blue{
  color: red !important;
}

@media(width<=767px) {

  #productCard {
    width: 46vw;
  }

  #productCard-Container {
    margin: 40px 5px !important;
    /* background-color: red; */
  }

  #Product-Detail-Page {
    flex-direction: column;
    padding: 38px 30px !important;
    /* justify-content: center; */
    /* padding: 0 !important; */
    /* align-items: center; */
    overflow: hidden;
  }

  #Product-Detail-Page #product-content {
    width: 85vw;
  }

  #img {
    width: 55vw;
    margin: auto;
  }

  nav {
    padding: 15px 25px 15px 15px !important;
  }

  #cart {
    width: 90vw !important;
    /* margin:auto !important; */
  }

  #cart li {
    flex-direction: column;
    align-items: center;
  }

  li img {
    width: 45vw !important;
    height: 180px !important;
    aspect-ratio: 1/1;
  }

  .blue {
    background-color: red !important;
  }

  #cart-container {
    padding: 0;
    margin: 50px 0;
  }

  #UserPorfile {
    flex-direction: column !important;
    align-items: center;
  }

  #Address {
    margin-bottom: 20px !important;
  }

  #Checkout {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  #Checkout-Container {
    padding: 20px 16px 38px 16px !important;
    width: 92vw !important;
    margin: 25px auto;
    padding: 6px 15px;
  }

  #form {
    width: 90vw;
  }

  #loading {
    left: 50%;
  }

  #Order-Container {
    width: 80vw !important;
  }

  #Orders {
    flex-direction: column;
    align-items: center;
    /* width: 80vw !important; */
    /* margin: 0 !important; */
  }

  #Orders img {
    width: 40vw;
  }

  #AddressForm{
    width: 80vw;

  }
}

@media(width<=420px) {

  #productCard {
    height: 400px;
  }
}